.mensaje .css-1ri6ub7-MuiPaper-root-MuiCard-root {
  max-width: 100%;
}

.card .cardAction .cardContent .infoMensaje {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mensaje .css-r40f8v-MuiTypography-root {
  text-align: start;
}
