.mensaje .css-1ri6ub7-MuiPaper-root-MuiCard-root {
  max-width: 100%;
}

.card .cardAction .cardContent .infoMensaje {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card
  .cardAction
  .cardContent
  .infoMensaje
  .infoMensajeUser
  .css-h93ljk-MuiTypography-root {
  font-size: 0.8rem;
}

.mensaje .css-r40f8v-MuiTypography-root {
  text-align: start;
}

.mensaje .card .css-1t6e9jv-MuiCardActions-root {
  justify-content: flex-end;
  gap: 10px;
}

.card .cardAction {
  background-color: #e9e9e9;
}
